.header {
    font-size: 14px;
    color: #333;
}

.row {
    display: flex;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    color: #333;
    border-bottom: #e5e5e5 solid 1px;

    .name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .price {
        width: 100px;
    }
}
