.login{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .content{
        width: 80%;

        .item{
            display: flex;
            height: 40px;
            border-bottom: #e5e5e5 solid 1px;

            .label{
                width: 80px;
                line-height: 40px;
            }

            input{
                font-size: 12px;
            }
        }

        .footer{
            text-align: right;
            margin-top: 15px;
        }
    }
}