.trade {
    color: #666;
    
    .item {
        display: flex;
        align-items: center;
        height: 40px;
        border-bottom: #e5e5e5 solid 1px;

        .label {
            width: 120px;
            font-size: 14px;
            padding-left: 16px;
        }

        .content {
            flex: 1;
        }

        .icon-expand{
            width: 16px; height: 16px;
            vertical-align: -5px;
            transform: rotate(270deg);
        }
    }
}
